{% extends "base.html" %}
<title>
  {% block title %}
    The list of cities
  {% endblock %}
</title>

{% block content %}
<body>
 <br>
    <div class="container-fluid">
     {% if cities %}
        <table class="table" id="table_db" >
           <thead>
             <tr>
               <th scope="col">№</th>
               <th scope="col">City</th>
               <th scope="col">Population</th>
               </tr>
           </thead>
            <tbody >
             {% for city in cities %}
              <tr>
                 <th scope="row"> {{ forloop.counter }}</th>
                  <td >{{ city.0 }}</td>
                  <td >{{ city.1 }}</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
</body>
{% endblock %}