{% extends "base.html" %}
{% load user_filters %}
{% load thumbnail %}

<title>
  {% block title %}
    The list of cities
  {% endblock %}
</title>

{% block content %}
<body>
 <br>
    <div class="container">
    {% if request.user.is_authenticated %}
    <div class="row">
        <div class="col-10">
            <a class="btn btn-sm btn-primary" href="{% url 'cities:add_city' country %}" role="button">Add City</a>
        </div>
    </div>
    {% endif %}
    <div class="row">
    <div class="col-9">
     {% if page %}
        <table class="table table-image display cell-border" id="city-table" >
           <thead>
             <tr>
               <th scope="col">№</th>
               <th scope="col">Emblem</th>
               <th scope="col">City</th>
               <th scope="col">Population</th>
               <th scope="col">With a McDonald's outlet</th>
               {% if user.is_authenticated %}
               <th scope="col">Edit city</th>
               {% endif %}
               {%  if user.is_staff %}
               <th scope="col">Delete city</th>
               {% endif %}
               </tr>
           </thead>
            <tbody >
             {% for city in page %}
              <tr>
                 <th scope="row"> {{ forloop.counter0|add:page.start_index }}</th>
                  <td class="w-10">{% thumbnail city.emblem "50x25" crop="center" upscale=True as im %}
                            <img class="img-fluid img-thumbnail" src="{{ im.url }}">
                        {% endthumbnail %}</td>
                   <td ><a class="nav-link" href="{% url 'cities:city_detail' city.pk %}">{{ city.name }}</a></td>
                  {% if city.population < 500000 %} <td style="color:#DC143C"> {{ city.population }} </td>
                  {% elif city.population < 1000000 %} <td style="color:#000080"> {{ city.population }} </td>
                  {% else %} <td style="color:#3CB371"> {{ city.population }} </td> {% endif %}
                  <td >{{ city.with_mcdonalds|add_image }}</td>
                  {% if user.is_authenticated %}
                  <td ><a class="btn btn-sm btn-primary" href="{% url 'cities:edit_city' city.id %}" role="button">Edit city</a></td>
                  {% endif %}
                  {% if user.is_staff %}
                  <td ><a class="btn btn-sm btn-danger" href="{% url 'cities:delete_city' city.id %}" role="button">Delete city</a></td>
                  {% endif %}
             </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div></div></div>

{% include "includes/paginator.html" with items=page paginator=paginator %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#city-table').DataTable({
                paging: false,
                searching: false,
                info: false,
                columnDefs: [
                    {
                        targets: "_all",
                        className: 'dt-center'
                    }
                ]
            } );
        });
    </script>
{% endblock js %}
</body>
{% endblock %}