{% extends "base.html" %}
<title>
  {% block title %}
    The list of cities
  {% endblock %}
</title>

{% block content %}
<body>
 <br>
    <div class="data-table-container">
     {% if cities %}
        <table class="table table-hover table-striped table-bordered data-table" id="city-table" >
           <thead>
             <tr>
               <th scope="col">№</th>
               <th scope="col">City</th>
               <th scope="col">Population</th>
               </tr>
           </thead>
            <tbody >
             {% for city in cities %}
              <tr>
                 <th scope="row"> {{ forloop.counter }}</th>
                  <td >{{ city.name }}</td>
                  {% if city.population < 500000 %} <td style="color:#DC143C"> {{ city.population }} </td>
                  {% elif city.population < 1000000 %} <td style="color:#000080"> {{ city.population }} </td>
                  {% else %} <td style="color:#3CB371"> {{ city.population }} </td> {% endif %}
             </tr>

            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>
{% block js %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#city-table').DataTable();
        });
    </script>
{% endblock js %}
</body>
{% endblock %}