{% extends "base.html" %}
<title>
  {% block title %}
    The list of cities
  {% endblock %}
</title>

{% block content %}
<body>
 <br>
    <div class="container-fluid">
     {% if countries %}
        <table id="country-table" class="table table-hover table-striped table-bordered data-table">
           <thead>
             <tr>
               <th scope="col">№</th>
               <th scope="col">Country</th>
               </tr>
           </thead>
            <tbody >
             {% for country in countries %}
              <tr>
                 <th scope="row"> {{ forloop.counter }}</th>
                  <td ><a class="nav-link" href="{% url 'cities:city_list' country %}">{{ country }}</a></td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>
{% block js %}
 <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript">
         $(document).ready(function() {
            $('#country-table').DataTable();
        });
    </script>
{% endblock js %}
</body>
{% endblock %}