{% extends "base.html" %}
{% load thumbnail %}
<title>
  {% block title %}
    The list of countries
  {% endblock %}
</title>

{% block content %}
<body>
 <br>
    <div class="container">
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-10">
            <a class="btn btn-sm btn-primary" href="{% url 'cities:add_country' %}" role="button">Add country</a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-9">
     {% if page %}
        <table class="table table-image display cell-border" id="country-table">
           <thead>
             <tr>
               <th scope="col">№</th>
               <th scope="col">Flag</th>
               <th scope="col">Country</th>
               <th scope="col">Population</th>
               <th scope="col">Country code ISO 3166</th>
               {% if user.is_authenticated %}
               <th scope="col">Edit country</th>
               {% endif %}
               {%  if user.is_staff %}
               <th scope="col">Delete country</th>
               {% endif %}
             </tr>
           </thead>
            <tbody >
             {% for country in page %}
              <tr>
                 <th scope="row"> {{ forloop.counter0|add:page.start_index }}</th>
                  <td class="w-10">{% thumbnail country.flag "50x25" crop="center" upscale=True as im %}
                            <img class="img-fluid img-thumbnail" src="{{ im.url }}">
                        {% endthumbnail %}</td>
                  <td ><a class="nav-link" href="{% url 'cities:city_list' country.name %}">{{ country|upper }}</a></td>
                  <td >{{ country.population }}</td>
                  <td >{{ country.country_code }}</td>
                  {% if user.is_authenticated %}
                  <td><a class="btn btn-sm btn-primary" href="{% url 'cities:edit_country' country.id %}" role="button">Edit country</a></td>
                  {% endif %}
                  {%  if user.is_staff %}
                  <td><a class="btn btn-sm btn-danger" href="{% url 'cities:delete_country' country.id %}" role="button">Delete country</a></td>
                  {% endif %}
              </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div></div></div>

{% include "includes/paginator.html" with items=page paginator=paginator %}

{% block js %}
    <script type="text/javascript">
         $(document).ready(function() {
            $('#country-table').DataTable({
                paging: false,
                searching: false,
                info: false,
                columnDefs: [
                    {
                        targets: "_all",
                        className: 'dt-center'
                    }
                ]
            } );
        });
    </script>
{% endblock js %}
</body>
{% endblock %}