{% load user_filters %}
{% if page.has_other_pages %}
<nav>
  <ul class="pagination justify-content-center">
    {% if page.has_previous %}
    <li class="page-item">
      <a class="page-link" href="{% relative_url page.previous_page_number 'page' request.GET.urlencode %}">&laquo; Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">&laquo; Previous</span>
    </li>
    {% endif %}
    {% for i in page.paginator.page_range %}
    {% if page.number == i %}
    <li class="page-item active">
      <span class="page-link">{{ i }}</span>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if page.has_next %}
    <li class="page-item">
      <a class="page-link" href="{% relative_url page.next_page_number 'page' request.GET.urlencode %}">Next &raquo;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">Next &raquo;</span>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}